*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color, #17494e);
    font-family: var(--string-police);
    font-size: var(--text-body);
    line-height: 1.4;
    letter-spacing: -0.03rem;
    color: var(--text-color, #ffffff);
    padding-left: 10px;
    padding-right: 10px; 
}

.page__accueil .hero {
  background-image: url('/assets/img/photo1_festival.avif');
  margin-inline : 0;
  background-size: cover;
  background-position: center;
  height: 557px;
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  
}
.page__accueil .hero__title {
  font-size: 4rem;
  margin-bottom: 10px;
}
.page__accueil .hero__location {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.page__accueil .hero__date {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.page__accueil .hero__button-billetterie {
  background-color: #f8d7e6;
  color: #17494e;           
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 20px;
}

.info__date {
  background-color: #f8d7e6;
  color: #17494e;
  font-weight: bold;
  text-decoration: none;
  padding: 0.6rem 2rem;
  border-radius: 20px;
  font-size: 0.9rem;
}

.info__nom {
    list-style: none;
}

h2 {
    color:#ffddf2;
}

.titre__programmation {
  color: #ffddf2;
}
.texte__programmation {
  font-family: var(--string-2);
}
.programmation__button {
  background-color: #f8d7e6;
  color: #17494e;           
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  padding: 2px 2px;
  border-radius: 20px;
}
 .info__programmation-date {
  background-color: #f8d7e6;
  color: #17494e;
  font-weight: bold;
  text-decoration: none;
  padding: 0.6rem 2rem;
  border-radius: 20px;
  font-size: 0.9rem;
}

