footer {
  width: 100vw; 
  box-sizing: border-box; 
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #111111;   
  color: #ffffff;
  padding: 40px 40px 60px 27px;    
  display: flex;
  flex-direction: column;      
  gap: 24px;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

.texte__footer {
  display: block;
  font-family: var(--string-police);
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 4px;
}

.titre__footer {
  font-family: var(--string-2);
  color: #7b7371;
}

.social__media {
  display: flex;
  gap: 16px;
}
