.header {
    background-color: #17494e;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100px; 
    width: 100%;
    max-width: 1200px;
}


.header__logo {
    font-family: "Lilita One";
    color : #ffddf2
    font-size 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 29px;  
    margin-bottom: 27.75px; 
    margin-left: 29px;       
    font-weight: 700;
    width: 113px;
    height: 28.331px;
}


.header__menu-button {
    width: 40px; 
    height: 30px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    cursor: pointer;  
    margin-top: 38px;         
    margin-right: 31px;       
    margin-bottom: 33px;      
    margin-left: 0;
    background: none;
    border: none;
}

.menu-button__bar {
    display: block;
    width: 100%;
    height: 6px; 
    background-color: #A5D66A;
    border-radius: 3px; 
}